header{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
section{
	margin-top: 0.5rem;
	padding-bottom: 0.25rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: url(../img/sectionBg.png) no-repeat center center/100% 100%;
	/*border: 1px solid transparent;
	border-image: linear-gradient(rgb(42,50,216) 20%,rgb(143,105,223) 20%,rgb(101,113,223) 20%,rgb(71,172,226) 20%,rgb(21,155,230) 20%) 30 30;
	*/
	
}
.section_left{
	width: 16.32rem;
}
.titleGroup{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titleGroup ul{
	padding-bottom: 0.48rem;
	background:url(../img/border_bottom.png) no-repeat;
	background-position:0.42rem bottom;
	background-size:10.4rem 0.48rem;
}
.titleGroup ul li {
	width: 1.97rem;
	height: 3.89rem;
	float: left;
	background: url(../img/title_border.png);
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titleGroup li:hover{
	cursor: pointer;
	background: url(../img/title_border_1.png);
	background-size: 100% 100%;
}
.titleGroup ul li:nth-of-type(1) p {
	font-size: 0.46rem;
	width: 0.46rem;
}
.titleGroup ul li p {
	font-size: 0.3rem;
	width: 0.46rem;
	color: white;		
}
.section_right{
	float: left;
	width: 14.05rem;
}
.section_right select{
	float: left;
	margin-right:0.38rem;
}
.select_group{
	padding: 0.5rem 0px;
}
.tableBox{
	width: 13.06rem;
	padding: 0.28rem;
	height: 12.2rem;
	margin-bottom: 0.4rem;
	background: url(../img/table_bg.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
.tableBoxIn{
	width: 100%;
	height: 99%;
	overflow: hidden;
}
table{
	width: 13.06rem;
	color: white;
	text-align: center ;
	line-height: 0.74rem;
	font-size: 0.26rem;
	table-layout: fixed;
}
table tr{
	/*line-height: 0.8rem;*/
	text-align: center;
}

table tr:nth-of-type(even){
	background: rgba(22,60,120,0.3)
}
table tr td{
	height: 0.75rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.default{
	color:rgb(138,181,207);
}

