/*section{
	margin-top: 0.5rem;
	width: 100%;
	border: 1px solid transparent;
	border-image: linear-gradient(rgb(42,50,216) 20%,rgb(143,105,223) 20%,rgb(101,113,223) 20%,rgb(71,172,226) 20%,rgb(21,155,230) 20%) 30 30;
}
.section_left{
	width: 16.32rem;
	float: left;
}
.titleGroup{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titleGroup ul{
	padding-bottom: 0.48rem;
	background:url(../img/border_bottom.png) no-repeat;
	background-position:0.42rem bottom;
	background-size:10.4rem 0.48rem;
}
.titleGroup ul li {
	width: 1.97rem;
	height: 3.89rem;
	float: left;
	background: url(../img/title_border.png);
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titleGroup li:hover{
	cursor: pointer;
	background: url(../img/title_border_1.png);
	background-size: 100% 100%;
}
.titleGroup ul li:nth-of-type(1) p {
	font-size: 0.46rem;
	width: 0.46rem;
}
.titleGroup ul li p {
	font-size: 0.3rem;
	width: 0.46rem;
	color: white;		
}
.section_right{
	float: left;
	width: 14.05rem;
}
.section_right select{
	float: left;
	margin-right:0.38rem;
}
.select_group{
	padding: 0.6rem 0px;
}

table{
	width: 13.06rem;
	background: url(../img/table_bg.png);
	background-size: 100% 100%;
	color: white;
}*/

html,body{width:32rem;}
html,body,div,p,dl,dd,dt,ul,li,a,span,img,h1,h2,h3,h4,h5,ol,header,footer,section,aside,article,nav,input,select{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
.wrap{background: #fff url(../img/bg.png) no-repeat center center;width:30.4rem;padding: 0.8rem;}
.content{
	width: 30.40rem;
}
.h2_titleText{
	color: white;
	font-size: 0.62rem;
}
.h3_titleText{
	color: rgb(231,231,236);
	font-size: 0.4rem;
	text-shadow: 0px 0px 10px purple;
	line-height: 1.04rem;
	text-indent: 0.28rem;
}
.h4_titleText{
	font-size: 0.33rem;
	color: rgb(231,231,236);
	line-height: 1rem;
	text-indent: 0.42rem;
}
header{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.header_left dl{
	color:rgb(129,206,242);
	text-align: center;
	padding: 0.25rem;
	padding/*-top*/: 0.25rem;
	border: 1px solid #492481;
}
.header_left dt{
	font-size: 0.2rem;
}
.header_left dd{
	font-size: 0.18rem;
}
.header_right{
	width: 29rem;
	display: flex;
	border-bottom: 1px solid transparent;
	/*border-image: -webkit-linear-gradient(rgb(42,50,216) 10%,rgb(52,36,147),rgb(113,34,202)) 30 30;
    border-image: -moz-linear-gradient(rgb(42,50,216),rgb(52,36,147),rgb(113,34,202)) 30 30;*/
    border-image: linear-gradient(rgb(42,50,216) 30%,rgb(52,36,147) 30%,rgb(113,34,202) 30%) 2 2;
	justify-content: space-between;
}
.timeText{
	color: white;
	font-size: 0.3rem;
	line-height:0.95rem;
}
.timeText span{
	padding-left: 0.33rem;
}
select{
	width: 3.72rem;
	height: 0.78rem;
	background: radial-gradient(rgb(47,29,160) 80%,rgb(77,39,183));
	border: 1px solid rgb(172,68,235);
	margin-left: 0.42rem;
	color: white;
	font-size: 0.42rem;
	display: block;
}
section{
	margin-top: 0.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: 1px solid transparent;
	border-image: linear-gradient(rgb(42,50,216) 20%,rgb(143,105,223) 20%,rgb(101,113,223) 20%,rgb(71,172,226) 20%,rgb(21,155,230) 20%) 30 30;
}
.section_left{
	width: 16.32rem;
}
.titleGroup{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titleGroup ul{
	padding-bottom: 0.48rem;
	background:url(../img/border_bottom.png) no-repeat;
	background-position:0.42rem bottom;
	background-size:10.4rem 0.48rem;
}
.titleGroup ul li {
	width: 1.97rem;
	height: 3.89rem;
	float: left;
	background: url(../img/title_border.png);
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.titleGroup li:hover{
	cursor: pointer;
	background: url(../img/title_border_1.png);
	background-size: 100% 100%;
}
.titleGroup ul li:nth-of-type(1) p {
	font-size: 0.46rem;
	width: 0.46rem;
}
.titleGroup ul li p {
	font-size: 0.3rem;
	width: 0.46rem;
	color: white;		
}
.section_right{
	float: left;
	width: 14.05rem;
}
.section_right select{
	float: left;
	margin-right:0.38rem;
}
.select_group{
	padding: 0.6rem 0px;
}
.tableBox{
	width: 13.06rem;
	padding: 0.28rem;
	height: 13.0rem;
	background: url(../img/table_bg.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
table{
	width: 13.06rem;
	color: white;
	text-align: center ;
	line-height: 0.78rem;
	font-size: 0.3rem;
}
table tr{
	/*line-height: 0.8rem;*/
	text-align: center;
}

table tr:nth-of-type(even){
	background: rgba(22,60,120,0.3)
}
table tr td{
	height: 0.8rem;
}
.default{
	color:rgb(138,181,207);
}

