html,body{width:32rem;}
html,body,div,p,dl,dd,dt,ul,li,a,span,img,h1,h2,h3,h4,h5,ol,header,footer,section,aside,article,nav,input,select{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
.wrap{background: #fff url(../img/bg.png) no-repeat center center/100% 100%;width:30.4rem;height:16.4rem;padding: 0.8rem;}
.content{
	width: 30.40rem;
}
.h2_titleText{
	color: white;
	font-size: 0.62rem;
}
.h3_titleText{
	color: rgb(231,231,236);
	font-size: 0.4rem;
	text-shadow: 0px 0px 10px purple;
	line-height: 1.04rem;
	text-indent: 0.28rem;
}
.h4_titleText{
	font-size: 0.33rem;
	color: rgb(231,231,236);
	line-height: 1rem;
	text-indent: 0.42rem;
}
header{
	width: 100%;
	height: 1.05rem;
	display: flex;
	justify-content: space-between;
}
.header_left img{
	width: 1.05rem;
	height: 1.05rem;
}
.header_left dl{
	color:rgb(129,206,242);
	text-align: center;
	padding: 0.25rem;
	padding/*-top*/: 0.25rem;
	border: 1px solid #492481;
	border-radius: 0.1rem;
}
.header_left dt{
	font-size: 0.2rem;
}
.header_left dd{
	font-size: 0.18rem;
}
.header_right{
	width: 29rem;
	display: flex;
	border-bottom: 1px solid transparent;
	/*border-image: -webkit-linear-gradient(rgb(42,50,216) 10%,rgb(52,36,147),rgb(113,34,202)) 30 30;
    border-image: -moz-linear-gradient(rgb(42,50,216),rgb(52,36,147),rgb(113,34,202)) 30 30;*/
    border-image: linear-gradient(rgb(42,50,216) 30%,rgb(52,36,147) 30%,rgb(113,34,202) 30%) 2 2;
	justify-content: space-between;
}
.timeText{
	color: white;
	font-size: 0.35rem;
	line-height:0.95rem;
}
.timeText span{
	padding-left: 0.33rem;
}
/*头部时钟图片*/
.clockBg{
	width: 0.4rem;
	height: 0.4rem;
	margin-right: 0.1rem;
}
.boxBorder{
	border:1px solid rgb(71,147,225);
    border-image: -webkit-linear-gradient(rgb(34,70,224),rgb(84,185,227)) 30 30;
    border-image: -moz-linear-gradient(rgb(34,70,224),rgb(84,185,227)) 30 30;
    border-image: linear-gradient(rgb(34,70,224),rgb(84,185,227)) 30 30;
    box-sizing: border-box;
}
.box{
	margin-bottom: 18px;
	margin-right: 50px;
	float: left;
}
.w800{
	width: 800px;
}
.w648{
	width: 648px;
}
.clear_float:after{
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear:both
}
.default{
	color:rgb(138,181,207)
}
.waring{
	color: rgb(227,73,79);
}
.jg{
	color: rgb(214,154,12);
}
/*select{
	width: 3.72rem;
	height: 0.78rem;
	background: radial-gradient(rgb(47,29,160) 80%,rgb(77,39,183));
	border: 1px solid rgb(172,68,235);
	margin-left: 0.42rem;
	color: white;
	font-size: 0.42rem;
	display: block;
}*/
select{
	width: 3.72rem;
	height: 0.78rem;
	margin-left: 0.4rem;
	line-height: 0.42rem;
	font-size: 0.42rem;
	color: white;
	padding-left: 0.3rem;
	border-radius: 0.08rem;
    background:radial-gradient(#251486 30%  , #2348E0);
}
.qryInput {
	width: 3.72rem;
	height: 0.78rem;
	margin-left: 0.4rem;
	line-height: 0.42rem;
	font-size: 0.42rem;
	color: white;
	padding-left: 0.3rem;
	border-radius: 0.08rem;
    background:radial-gradient(#251486 30%  , #2348E0);
}

select option{
	background: #3828D1;
}

.header_left dl{
	cursor:pointer;
}