.wrap{
	width: 3200px;
	height: 100%;
	overflow: hidden;
	background:radial-gradient(ellipse at bottom,#052ea5 1%,#0d0c3e);
}
.content{
	width: 3040px;
	margin-left: -50px;
	margin: 12px auto;
}
.video_wrap{
	padding-bottom: 40px;
	margin-top: -40px;
}
.video_wrap video{
	margin-left:28px;
	margin-top: 40px;
}
.pie_eachrts1{
	float: left;
}
.pie_eachrts2{
	float: left;
}
.rcTable{
	font-size:30px;
	
}
.rcTable tr{
	line-height: 80px;
	text-align: center;
}
.rcTable tr:nth-of-type(odd){
	background: rgba(22,60,120,0.8)
}
