

.video_wrap{
	padding-bottom: 40px;
	margin-top: -40px;
}
.video_wrap video{
	margin-left:28px;
	margin-top: 40px;
}
.pie_eachrts1{
	float: left;
}
.pie_eachrts2{
	float: left;
}
.rcTable{
	font-size:30px;
	
}

