header{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#titleAndTime{
	
	padding-bottom: 0.13rem;
	width: 29rem;
	display: flex;
	justify-content: space-between;
	align-items: center ;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(rgb(42,50,216) 30%,rgb(52,36,147) 30%,rgb(113,34,202) 30%) 2 2;
}
.imgAndTime{
	display: flex;
	justify-content: flex-end;
	align-items: center ;
}
.keyWords{
	width: 100%;
	display: flex;
	justify-content: flex-start ;
	align-items: center ;
}
/*本页面特有下拉列表样式*/
select{
	width: 2.36rem;
	height: 0.78rem;
	margin: 0.4rem 0rem 0.2rem 0.4rem;
	line-height: 0.42rem;
	font-size: 0.42rem;
	color: white;
	padding-left: 0.3rem;
	border-radius: 0.08rem;
    background:radial-gradient(#251486 30%  , #2348E0);
    display: block;
    
}
select option{
	background: #3828D1;
}

section{
	margin-top: 0.58rem;
	margin-bottom: 0.11rem;
	display: flex;
	justify-content: space-between;
	border: 1px solid transparent;
	border-image: linear-gradient(rgb(42,50,216) 20%,rgb(143,105,223) 20%,rgb(101,113,223) 20%,rgb(71,172,226) 20%,rgb(21,155,230) 20%) 30 30;
	background: url(../img/content_bg.png)no-repeat center center ;
	background-size: 100% 100%;
}

.section_left{
	width: 10.20rem;
}
#container_1,#container_2,#container_3{
	width: 9.9rem;
	height: 4.7rem;
	margin: 1rem auto;
}
.section_middle{
	width: 10.20rem;
}
.section_right{
	width: 10.20rem;
}
.tableBox{
	width: 9.44rem;
	height: 5.56rem;
	padding: 0.28rem;
	background: url(../img/realTime_table_bg.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}
table{
	width: 9.44rem;
	text-align: center;
	line-height: 0.78rem;
	font-size: 0.28rem;
}
table tr{
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
}
table tr td{
	height: 0.8rem;
}

table tr:nth-of-type(even){
	background: rgba(22,60,120,0.3)
}
.default{
	color:rgb(138,181,207)
}